In [63]:
import pandas as pd
import numpy as np
import sklearn

In [53]:
df = pd.read_csv('Dataframe2.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,0,2508674,0,CARLYN & COMPANY,Interior Designers,INTERIOR DESIGNER,Y,38320.0,2012,"GREAT FALLS, VIRGINIA",-77.288316,38.998165
1,1,1738460,0,CLINRON LLC,"Medical Scientists, Except Epidemiologists",DRUG SAFETY ASSOCIATE,Y,68494.4,2014,"MORRISVILLE, NORTH CAROLINA",-78.825562,35.823483
2,2,2314547,0,"LAW OFFICE OF YOUNGMEE LEE, LLC",Paralegals and Legal Assistants*,LEGAL ASSISTANT,Y,46680.0,2012,"DULUTH, GEORGIA",-84.144638,34.002879
3,3,2874957,1,"EVANTAGE TECHNOLOGIES INC.,",Computer Programmers,COMPUTER PROGRAMMER,Y,54163.0,2011,"ISELIN, NEW JERSEY",-74.322370,40.575382
4,4,2014299,0,"SPECIAL OLYMPICS, INC.",Health Educators,HEALTHY ATHLETES SPECIALIST,Y,37960.0,2013,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192

In [54]:
'''
Certified: Employer filed the LCA, which was approved by DOL
Certified Withdrawn: LCA was approved but later withdrawn by employer
Withdrawn: LCA was withdrawn by employer before approval
Denied: LCA was denied by DOL
foi transformado em 0 quando DENIED e 1 quando CERTIFIED, CERTIFIED-WITHDRAWN juntos. WITHDRAWN deletado



Occupational name associated with the SOC_CODE. 
SOC_CODE is the occupational code associated with the job being requested for temporary labor condition, 
as classified by the Standard Occupational Classification (SOC) System.
'''

def dummify(data, column_name):
    df = data.copy()
    df2 = pd.concat([df.drop(column_name, axis=1), pd.get_dummies(data[column_name], prefix=column_name)], axis=1)
    return df2

def mapp (value, start1, stop1, start2, stop2):
    return start2 + (stop2 - start2) * ((value - start1) / (stop1 - start1))


df = df.drop(["WORKSITE","YEAR","JOB_TITLE","Unnamed: 0","Unnamed: 0.1"], axis=1)
df = df.dropna()
df["SOC_NAME"] = df["SOC_NAME"].apply(lambda x: x.upper())

df = df.drop(["EMPLOYER_NAME"], axis=1) #mudar depois

df["FULL_TIME_POSITION"] = df["FULL_TIME_POSITION"].apply(lambda x: 0 if x=="N" else 1)

df = dummify(df, "SOC_NAME")



latmin = df["lat"].min()
latmax = df["lat"].max()
lonmin = df["lon"].min()
lonmax = df["lon"].max()

df["lat"] = df["lat"].apply(lambda x: mapp(x, latmin, latmax, 0, 1))
df["lon"] = df["lon"].apply(lambda x: mapp(x, lonmin, lonmax, 0, 1))

In [55]:
df.head()

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,lon,lat,SOC_NAME_ACCOUNTANTS,SOC_NAME_ACCOUNTANTS AND AUDITORS,SOC_NAME_ACTORS,SOC_NAME_ACTUARIES,SOC_NAME_ADHESIVE BONDING MACHINE OPERATORS AND TENDERS,...,"SOC_NAME_VOCATIONAL EDUCATION TEACHERS, MIDDLE SCHOOL","SOC_NAME_VOCATIONAL EDUCATION TEACHERS, POSTSECONDARY","SOC_NAME_VOCATIONAL EDUCATION TEACHERS, SECONDARY SCHOOL",SOC_NAME_WATCH REPAIRERS,SOC_NAME_WEB ADMINISTRATORS,SOC_NAME_WEB DEVELOPERS,"SOC_NAME_WEIGHERS, MEASURERS, CHECKERS, AND SAMPLERS,","SOC_NAME_WHOLESALE AND RETAIL BUYERS, EXCEPT FARM PRODUCTS",SOC_NAME_WRITERS AND AUTHORS,SOC_NAME_ZOOLOGISTS AND WILDLIFE BIOLOGISTS
0,0,1,38320.0,0.265393,0.497290,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,68494.4,0.260329,0.435526,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,46680.0,0.242808,0.400106,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,54163.0,0.275162,0.527974,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,37960.0,0.266221,0.495520,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
col = []

for i in df.columns:
    if i.startswith("SOC_NAME_"):
        col.append(i)

X = df.drop(["CASE_STATUS"], axis=1).values
y = df["CASE_STATUS"].values

index = round(df.index.size*0.8)

X_train, X_test = X[:index], X[index:]
y_train, y_test = y[:index], y[index:]

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


model = LogisticRegression(solver="lbfgs")
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Acurácia: {}".format(100*accuracy_score(y_test, y_pred)))

Acurácia: 50.33

In [ ]:
import statsmodels.discrete.discrete_model as sm

model2 = sm.Logit(y_train,X_train)
model2.fit().params

In [58]:
df.head()
# print(col)

,CASE_STATUS,FULL_TIME_POSITION,PREVAILING_WAGE,lon,lat,SOC_NAME_ACCOUNTANTS,SOC_NAME_ACCOUNTANTS AND AUDITORS,SOC_NAME_ACTORS,SOC_NAME_ACTUARIES,SOC_NAME_ADHESIVE BONDING MACHINE OPERATORS AND TENDERS,...,"SOC_NAME_VOCATIONAL EDUCATION TEACHERS, MIDDLE SCHOOL","SOC_NAME_VOCATIONAL EDUCATION TEACHERS, POSTSECONDARY","SOC_NAME_VOCATIONAL EDUCATION TEACHERS, SECONDARY SCHOOL",SOC_NAME_WATCH REPAIRERS,SOC_NAME_WEB ADMINISTRATORS,SOC_NAME_WEB DEVELOPERS,"SOC_NAME_WEIGHERS, MEASURERS, CHECKERS, AND SAMPLERS,","SOC_NAME_WHOLESALE AND RETAIL BUYERS, EXCEPT FARM PRODUCTS",SOC_NAME_WRITERS AND AUTHORS,SOC_NAME_ZOOLOGISTS AND WILDLIFE BIOLOGISTS
0,0,1,38320.0,0.265393,0.497290,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,68494.4,0.260329,0.435526,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,46680.0,0.242808,0.400106,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,54163.0,0.275162,0.527974,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,37960.0,0.266221,0.495520,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
d = {"FULL_TIME_POSITION":1, "PREVAILING_WAGE":38320.0, "YEAR":2012.0, "lon":0.265393, "lat":0.497290, "SOC_NAME_INTERIOR DESIGNERS":1}
l=[]

for i in df.columns:
    if i != "CASE_STATUS":
        if i in d:
            l.append(d[i])
        else:
            l.append(0)
    
print(l)
model.predict([l])