In [42]:
%matplotlib inline

import pandas as pd
import numpy as np
import random
from pandas import ExcelWriter

In [47]:
dataset = pd.read_csv("h1b.csv")
dataset = dataset.sample(frac=1).reset_index(drop=True)
dataset = dataset.applymap(lambda x: x.encode('unicode_escape').decode('utf-8') if isinstance(x, str) else x)
dataset.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,692047,CERTIFIED,"TWITTER, INC.",MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,ACCOUNT EXECUTIVE,Y,90792.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1,1217818,CERTIFIED,ETOUCH SYSTEMS CORPORATION,COMPUTER SYSTEMS ANALYSTS,PROGRAMMER ANALYST,Y,89149.0,2015.0,"MILPITAS, CALIFORNIA",-121.899574,37.432334
2,468613,CERTIFIED,INFOSYS LIMITED,SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS,TEST ANALYST - US,N,60590.0,2016.0,"WINDSOR, CONNECTICUT",-72.643702,41.852598
3,2394057,DENIED,"QUINSTAR TECHNOLOGY, INC.",NaN,MANUFACTURING ENGINEERS I,Y,51976.0,2012.0,"TORRANCE, CALIFORNIA",-118.340629,33.835849
4,890345,CERTIFIED,"HEXAWARE TECHNOLOGIES, INC.",COMPUTER PROGRAMMERS,COMPUTER PROGRAMMER,Y,66477.0,2015.0,"STAMFORD, CONNECTICUT",-73.538734,41.053430

In [48]:
dataset = dataset[dataset.CASE_STATUS != "PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED"]
dataset = dataset[dataset.CASE_STATUS != "INVALIDATED"]
dataset = dataset[dataset.CASE_STATUS != "WITHDRAWN"]
dataset = dataset[dataset.CASE_STATUS != "REJECTED"]
dataset["CASE_STATUS"] = dataset["CASE_STATUS"].apply(lambda x: 1 if (x=="CERTIFIED-WITHDRAWN" or x=="CERTIFIED") else 0)

dataset = dataset.applymap(lambda x: x.encode('unicode_escape').decode('utf-8') if isinstance(x, str) else x)
print(len(dataset))
dataset = dataset.dropna()
dataset.head()

2912641

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,692047,1,"TWITTER, INC.",MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,ACCOUNT EXECUTIVE,Y,90792.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784
1,1217818,1,ETOUCH SYSTEMS CORPORATION,COMPUTER SYSTEMS ANALYSTS,PROGRAMMER ANALYST,Y,89149.0,2015.0,"MILPITAS, CALIFORNIA",-121.899574,37.432334
2,468613,1,INFOSYS LIMITED,SOFTWARE QUALITY ASSURANCE ENGINEERS AND TESTERS,TEST ANALYST - US,N,60590.0,2016.0,"WINDSOR, CONNECTICUT",-72.643702,41.852598
4,890345,1,"HEXAWARE TECHNOLOGIES, INC.",COMPUTER PROGRAMMERS,COMPUTER PROGRAMMER,Y,66477.0,2015.0,"STAMFORD, CONNECTICUT",-73.538734,41.053430
5,1677908,1,SCM LINES USA LLC,Operations Research Analysts,OPERATIONS ANALYST,Y,48422.0,2014.0,"SPRING, TEXAS",-95.417160,30.079941

In [49]:
na = dataset[dataset["CASE_STATUS"] == 0]
ap = dataset[dataset["CASE_STATUS"] == 1]

na_cut = na[:50000]
ap_cut = ap[:50000]

df = pd.concat([ap_cut, na_cut])
df = df.sample(frac=1).reset_index(drop=True)
df

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,2508674,0,CARLYN & COMPANY,Interior Designers,INTERIOR DESIGNER,Y,38320.0,2012.0,"GREAT FALLS, VIRGINIA",-77.288316,38.998165
1,1738460,0,CLINRON LLC,"Medical Scientists, Except Epidemiologists",DRUG SAFETY ASSOCIATE,Y,68494.4,2014.0,"MORRISVILLE, NORTH CAROLINA",-78.825562,35.823483
2,2314547,0,"LAW OFFICE OF YOUNGMEE LEE, LLC",Paralegals and Legal Assistants*,LEGAL ASSISTANT,Y,46680.0,2012.0,"DULUTH, GEORGIA",-84.144638,34.002879
3,2874957,1,"EVANTAGE TECHNOLOGIES INC.,",Computer Programmers,COMPUTER PROGRAMMER,Y,54163.0,2011.0,"ISELIN, NEW JERSEY",-74.322370,40.575382
4,2014299,0,"SPECIAL OLYMPICS, INC.",Health Educators,HEALTHY ATHLETES SPECIALIST,Y,37960.0,2013.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192
5,303826,1,GOOGLE INC.,"SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,100657.0,2016.0,"MOUNTAIN VIEW, CALIFORNIA",-122.083851,37.386052
6,900951,0,"GLOBALLOGIC,INC.","SOFTWARE DEVELOPERS, APPLICATIONS",SOFTWARE ENGINEER,Y,69000.0,2015.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
7,2040521,0,CMT ENGINEERING,First-Line Supervisors of Construction Trades and,ENGINEERING SUPERVISOR,Y,79580.0,2013.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738
8,1884340,0,MEDICAL FOUNDATION OF CENTRAL MISSISSIPPI,"Physicians and Surgeons, All Other",NEUROLOGIST,Y,229888.0,2013.0,"JACKSON, MISSISSIPPI",-90.184810,32.298757
9,2955419,1,SUNMERGE SYSTEMS INC.,Database Administrators,DATABASE ADMINISTRATOR,Y,37190.0,2011.0,"WICHITA, KANSAS",-97.330053,37.687176
10,1776183,0,"CHAPPUIS HALDER, INC",Management Analysts,SENIOR ANALYST,Y,60000.0,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784
11,1780786,0,INTER-MOUNTAIN DEACONESS HOME FOR CHILDREN,"Therapists, All Other",THERAPIST,Y,38085.0,2014.0,"HELENA, MONTANA",-112.024505,46.588371
12,2284437,0,M. WINTER & ASSOCIATES PEDIATRIC REHABILITATIO...,Speech-Language Pathologists,SPEECH LANGUAGE PATHOLOGIST,Y,51106.0,2012.0,"KATY, TEXAS",-95.824396,29.785785
13,211110,0,LORHAN CORPORATION INC,COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,Y,82202.0,2016.0,"SEATTLE, WASHINGTON",-122.332071,47.606209
14,247874,1,"INFOSPAN TECHNOLOGIES, INC.",COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,N,51730.0,2016.0,"PISCATAWAY, NEW JERSEY",-74.464286,40.554887
15,1897951,0,"CISCO SYSTEMS, INC.","Software Developers, Systems Software",SOFTWARE ENGINEER,Y,112291.0,2013.0,"SAN BRUNO, CALIFORNIA",-122.411083,37.630490
16,2296314,0,ROSSOMELA INC,General and Operations Managers,GENERAL MANAGER,Y,77584.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
17,1840735,1,NCH CORPORATION,Network and Computer Systems Administrators,UNIX ADMINISTRATOR,Y,91707.0,2013.0,"IRVING, TEXAS",-96.948894,32.814018
18,96173,1,"PERSISTENT SYSTEMS, INC.",COMPUTER SYSTEMS ANALYSTS,SR.COMPUTER PROGRAMMER ANALYST,N,51979.0,2016.0,"TROY, MICHIGAN",-83.149775,42.606409
19,2033056,0,SHRETECH INC,Computer Programmers,COMPUTER PROGRAMMER,N,50336.0,2013.0,"FRISCO, TEXAS",-96.823612,33.150674
20,2244845,0,HOLBEN (USA) INC.,Logisticians,LOGISTICS ENGINEER,Y,46550.0,2012.0,"AVENTURA, FLORIDA",-80.139212,25.956481
21,1511825,1,"ACCESS CONTROL GROUP, LLC",Computer Systems Analysts,PROGRAMMER ANALYST,Y,62442.0,2014.0,"CRANBURY, NEW JERSEY",-74.511172,40.302591
22,2939671,0,AVIATION PUBLISHING CORPORATION,Public Relations and Fundraising Managers,DIRECTOR OF INTERNATIONAL RELATIONS,Y,70304.0,2011.0,"EL MONTE, CALIFORNIA",-118.027567,34.068621
23,2100316,1,MUSI ENTERPRISES INC.,Management Analysts,MANAGEMENT BUSINESS ANALYST,Y,38334.0,2013.0,"MIAMI, FLORIDA",-80.191790,25.761680
24,2241278,0,CHRISTOPHER COLEMAN INTERIOR DESIGN,Interior Designers,INTERIOR DESIGNER,Y,42765.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
25,979481,1,"DYNAMIC ACCESS SYSTEMS, INC",DATABASE ADMINISTRATORS,DATA ANALYST,Y,61526.0,2015.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
26,2820690,0,INSTITUTE FOR ADVANCED LEARNING & RESEARCH,Soil and Plant Scientists,LABORATORY & RESEARCH ASSOCIATE,Y,37461.0,2011.0,"DANVILLE, VIRGINIA",-79.395023,36.585972
27,2619489,0,SOUTH BAYLO UNIVERSITY,"Health Diagnosing and Treating Practitioners, All",ACUPUNCTURIST,N,35214.4,2012.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
28,1357846,0,KIDDIES KOLLEGE,"Preschool Teachers, Except Special Education",TEACHER,Y,33446.0,2014.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192
29,2631132,1,UNIVERSITY OF OKLAHOMA,"History Teachers, Postsecondary",ASSISTANT PROFESSOR,Y,34780.0,2012.0,"NORMAN, OKLAHOMA",-97.439478,35.222567
...,...,...,...,...,...,...,...,...,...,...,...
99970,1523042,0,BARCLAYS BANK PLC,Operations Research Analysts,LEAD DECISION SCIENCE ANALYST,Y,61568.0,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784
99971,708114,0,"TWABMOH, PENG & ASSOC., CPAS INC.",ACCOUNTANTS AND AUDITORS,SENIOR ACCOUNTANT,Y,46696.0,2015.0,"MONTEREY PARK, CALIFORNIA",-118.122848,34.062511
99972,2098367,0,"LIRO ENGINEERS, INC.","Designers, All Other",BUILDING INFORMATION MODELING SPECIALIST,Y,73028.8,2013.0,"NEW YORK, NEW YORK",-74.005941,40.712784
99973,2450273,0,MEIKI CORPORATION,First-Line Supervisors of Office and Administr...,CUSTOMER SERVICE & ACCOUNTS SPECIALIST,Y,37710.0,2012.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054
99974,2643165,1,"T-MOBILE USA, INC.","Electronics Engineers, Except Computer","SENIOR ENGINEER, RF DEPLOYMENT",Y,80600.0,2012.0,"INDEPENDENCE, OHIO",-81.637903,41.368665
99975,124897,1,INFOSYS LIMITED,COMPUTER SYSTEMS ANALYST,TECHNOLOGY ANALYST - US,N,69805.0,2016.0,"SUNNYVALE, CALIFORNIA",-122.036350,37.368830
99976,2116152,1,MEIJER GREAT LAKES LIMITED PARTNERSHIP,Computer Systems Analysts,ANALYTICS & TESTING SPECIALIST,Y,67434.0,2013.0,"GRAND RAPIDS, MICHIGAN",-85.668086,42.963360
99977,1400621,1,ACCENTURE LLP,Computer Systems Analysts,COMPUTER SYSTEMS ANALYST 3,Y,94890.0,2014.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
99978,697284,0,"MEGAN SOFT, INC.","SOFTWARE DEVELOPERS, APPLICATIONS",SYSTEMS ANALYST,Y,66706.0,2015.0,"DEARBORN, MICHIGAN",-83.176315,42.322260
99979,829375,1,"TIBCO SOFTWARE, INC.","COMPUTER OCCUPATIONS, ALL OTHER",PRODUCT MANAGER,Y,111634.0,2015.0,"PALO ALTO, CALIFORNIA",-122.143020,37.441883
99980,1689399,0,ERNST & YOUNG U.S. LLP,Accountants and Auditors,ASSURANCE SENIOR,Y,60200.0,2014.0,"NEW YORK, NEW YORK",-74.005941,40.712784
99981,2856776,1,"HCL AMERICA, INC.",Computer Systems Analysts,SYSTEMS ANALYST,Y,61880.0,2011.0,"SEATTLE, WASHINGTON",-122.332071,47.606209
99982,1671131,1,"MICROEXCEL, INC",Network and Computer Systems Administrators,SYSTEMS ADMINISTRATOR,Y,58198.0,2014.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545
99983,1315349,1,"UNITED HEALTHCARE SERVICES, INC.","Software Developers, Applications",MICROSTRATEGY ARCHITECT,Y,101317.0,2014.0,"SANTA ANA, CALIFORNIA",-117.867834,33.745573
99984,1144413,0,ALTISOURCE SOLUTIONS INC.,COMPUTER AND INFORMATION SYSTEMS MANAGERS,TECH LEAD - RELEASE ENGINEERING,Y,183819.0,2015.0,"PLANO, TEXAS",-96.698886,33.019843
99985,2942527,0,"ACCENT MEDIA PRODUCTION, INC.",Computer Programmers,COMPUTER PROGRAMMER,Y,47154.0,2011.0,"MIAMI, FLORIDA",-80.191790,25.761680
99986,1317671,1,"CISCO SYSTEMS, INC.",Computer Systems Analysts,IT ANALYST,Y,114421.0,2014.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
99987,1005746,0,MSM LUXURY ESTATES,MARKET RESEARCH ANALYSTS AND MARKETING SPECIAL...,BUSINESS DEVELOPMENT SPECIALIST,Y,187636800.0,2015.0,"BEVERLY HILLS, CALIFORNIA",-118.400356,34.073620
99988,2360933,0,"CONCUR TECHNOLOGIES, INC.","Software Developers, Applications",SENIOR SOFTWARE DESIGN ENGINEER,Y,102461.0,2012.0,"EDEN PRAIRIE, MINNESOTA",-93.470786,44.854686
99989,1309128,0,NICHE SOFTWARE SOLUTIONS INC,Computer Programmers,QA ANALYST,Y,62546.0,2014.0,"CONCORD, CALIFORNIA",-122.031073,37.977978
99990,249830,1,INFOLOGITECH INC,COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,N,51730.0,2016.0,"PRINCETON, NEW JERSEY",-74.667223,40.357298
99991,452091,1,IBM CORPORATION,COMPUTER NETWORK SUPPORT SPECIALISTS,SOFTWARE ENGINEER,Y,71531.0,2016.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
99992,1063954,0,DIOCESE OF WHEELING-CHARLESTON,"SECONDARY SCHOOL TEACHERS, EXCEPT SPECIAL AND",TEACHER OF CHINESE LANGUAGE,Y,36350.0,2015.0,"WHEELING, WEST VIRGINIA",-80.720915,40.063962
99993,2177013,0,TOLEDO CITY SCHOOLS,Adult Basic and Secondary Education and Litera...,TEACHER,Y,34508.0,2013.0,"TOLEDO, OHIO",-83.555212,41.663938
99994,2279329,0,"DRC EMERGENCY SERVICES, LLC",Lawyers,LEAD ATTORNEY HONDURAS ARBITRATION,Y,188594.0,2012.0,"MOBILE, ALABAMA",-88.039891,30.695366
99995,232974,1,EXCELA SOLUTIONS INC,COMPUTER PROGRAMMERS,PROGRAMMER ANALYST,N,54059.0,2016.0,"FREMONT, CALIFORNIA",-121.988572,37.548270
99996,399921,0,DELOITTE CONSULTING LLP,"SOFTWARE DEVELOPERS, APPLICATIONS",MANAGER,Y,84218.0,2016.0,"MEMPHIS, TENNESSEE",-90.048980,35.149534
99997,1680,1,DELOITTE CONSULTING LLP,GENERAL AND OPERATIONS MANAGERS,MANAGER,Y,113318.0,2016.0,"MINNEAPOLIS, MINNESOTA",-93.265011,44.977753
99998,2324148,1,ST. BARNABAS HOSPITAL,"Physicians and Surgeons, All Other",PHYSICIAN,Y,47955.0,2012.0,"BRONX, NEW YORK",-73.864827,40.844782
99999,2632898,0,KENTUCKY DEPARTMENT OF ALCOHOLIC BEVERAGE CONTROL,Computer Systems Analysts,SYSTEMS TECHNICIAN SPECIALIST IT,Y,54040.8,2012.0,"FRANKFORT, KENTUCKY",-84.873283,38.200905

In [50]:
df.to_csv("Dataframe2.csv")