In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import random
from pandas import ExcelWriter
from sklearn.model_selection import train_test_split

In [10]:
dataset = pd.read_csv("h1b.csv")
dataset = dataset.sample(frac=0.03).reset_index(drop=True)
dataset.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,2513089,CERTIFIED,"EVEREST CONSULTING GROUP, INC",Computer Programmers,PROGRAMMER ANALYST,Y,55245.0,2012.0,"EDISON, NEW JERSEY",-74.412095,40.518715
1,2385869,CERTIFIED,SCHULTE ROTH & ZABEL LLP,Computer Systems Analysts,LEGAL PRACTICE PROJECT MANAGER,Y,74422.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
2,30281,CERTIFIED,ERNST &AMP; YOUNG U.S. LLP,MANAGEMENT ANALYSTS,ADVISORY SENIOR,Y,80496.0,2016.0,"BOSTON, MASSACHUSETTS",-71.058880,42.360083
3,2741898,CERTIFIED,ST. REGIS NURSING HOME,Physical Therapists,PHYSICAL THERAPIST,Y,48568.0,2011.0,"MASSENA, NEW YORK",NaN,NaN
4,1226653,CERTIFIED,MERRILL LYNCH,COMPUTER AND INFORMATION SYSTEMS MANAGERS,VP; TECHNOLOGY MANAGER-SYSTEMS ENGINEER,Y,138133.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784

In [19]:
dataset = dataset.applymap(lambda x: x.encode('unicode_escape').decode('utf-8') if isinstance(x, str) else x)
print(len(dataset))
dataset = dataset.dropna()
dataset.head()

86363

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,CERTIFIED,"EVEREST CONSULTING GROUP, INC",Computer Programmers,PROGRAMMER ANALYST,Y,55245.0,2012.0,"EDISON, NEW JERSEY",-74.412095,40.518715
1,CERTIFIED,SCHULTE ROTH & ZABEL LLP,Computer Systems Analysts,LEGAL PRACTICE PROJECT MANAGER,Y,74422.0,2012.0,"NEW YORK, NEW YORK",-74.005941,40.712784
2,CERTIFIED,ERNST &AMP; YOUNG U.S. LLP,MANAGEMENT ANALYSTS,ADVISORY SENIOR,Y,80496.0,2016.0,"BOSTON, MASSACHUSETTS",-71.058880,42.360083
4,CERTIFIED,MERRILL LYNCH,COMPUTER AND INFORMATION SYSTEMS MANAGERS,VP; TECHNOLOGY MANAGER-SYSTEMS ENGINEER,Y,138133.0,2015.0,"NEW YORK, NEW YORK",-74.005941,40.712784
5,CERTIFIED,DELOITTE CONSULTING LLP,"Software Developers, Systems Software",CONSULTANT,Y,59259.0,2012.0,"WALNUT CREEK, CALIFORNIA",-122.065182,37.910078

In [20]:
dataset.to_csv("Dataframe.csv")